
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  min-height: -webkit-fill-available;
  font-family: 'Poppins', sans-serif;

}

html {
height: -webkit-fill-available;

}

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 110px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  height: calc(100vh - 100px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.rightpanel {
  width:55vh;
  position: fixed;
  top: 0;
  /* rtl:raw:
  */
  right: 0;
  bottom: 0;
  /* rtl:remove */
  /* left: 0; */
  z-index: 100; /* Behind the navbar */
  padding: 110px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.rightpanel-sticky {
  height: calc(100vh - 100px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

main {
height: -webkit-fill-available;
overflow-x: auto;
overflow-y: hidden;
}

.main-container {
  margin-top: 85px;
}

.summary-container {
  padding: 0 12vh;
}

.info-container {
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
}

.dropdown-toggle { outline: 0; }

.btn-single {
padding: .40rem .5rem;
font-weight: 600;
color: rgba(0, 0, 0, .65);
background-color: transparent;
}

.btn-single:hover,
.btn-single:focus {
color: rgba(0, 0, 0, .85);
background-color: #e7def3;
}

.btn-toggle {
padding: .40rem .5rem;
font-weight: 600;
color: rgba(0, 0, 0, .65);
background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
color: rgba(0, 0, 0, .85);
background-color: #e7def3;
}

.btn-toggle::before {
width: 1.25em;
line-height: 0;
content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
transition: transform .35s ease;
transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
transform: rotate(90deg);
}

.btn-toggle-nav a {
padding: .1875rem .5rem;
margin-top: .125rem;
margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
background-color: #e7def3;
}

#Emergency-Fund {
  /* background-color: #10f0b4; */
  background-image: linear-gradient(-45deg, #98edba,#a9ed66);
}

#titleHouse {
  color: #a9ed66;
}

#titleCar {
  color: #98cbed;
}

#titleGift {
  color: #46cad4;
}

#titleWedding {
  color: #edb07e;
}

#titleEducation {
  color: #9c66ed;
}

#titleBusiness {
  color: #ed98a9;
}

#titleVacation {
  color: #667aed;
}

#titleLeisure {
  color: #98edba;
}

#titleGadget {
  color: #d9e864;
}

#titleRetirement {
  color: #dbb070;
}

#pay0 {
  color: #90e366;
}
#pay1 {
  color: #476bba;
}
#pay2 {
  color: #9f92e0;
}
#pay3 {
  color: #6994c9;
}
#pay4 {
  color: #a9ed66;
}
#pay5 {
  color: #8f6c56;
}
#pay6 {
  color: #8ee2b0;
}
#pay7 {
  color: #d48fd9;
}
#pay8 {
  color: #667aed;
}


#boxContainer {
  background-color: #f5f5f5
}

.offcanvas-body {
  height: -webkit-fill-available;
  height: 100vh;
}

.title {
  letter-spacing: -2px;
  font-family: 'Syncopate', sans-serif;
}

.title-number {
  font-family: 'Syncopate', sans-serif;
}

.progress {
  height: 40px;
  border-radius: 20px;
}

.progress-bar {
  border-radius: 20px;
}

#goodnight {
  color: #CDBBFF;
  background-image: linear-gradient(125deg, #6750AA,#CA7CEB);
}

#goodday {
  color: #1A6792;
  background-image: linear-gradient(-45deg, #58B2E5, #A3F2F8);
}

.newItem {
  background-image: linear-gradient(-45deg, #83aad8, #b9ffee);
}